<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
      <li class="breadcrumb-item"><a routerLink="/admin/dashboard">Admin</a></li>
      <li class="breadcrumb-item"><a routerLink="/admin/product">Product</a></li>
      <li class="breadcrumb-item active" aria-current="page">Update Product</li>
    </ol>
  </nav>
    <div class="row">
        <div class="col-md-7 mx-auto">
            <div class="alert alert-success" role="alert" *ngIf="successupdate">
                Update product successfully!
              </div>
            <div class="card rounded-0">
                <div class="card-header">
                    <h3 class="mb-0">Update Product</h3>
                </div>
                <div class="card-body">
            <form #updateProduct="ngForm" (ngSubmit)="editProduct(updateProduct.value)"  role="form" enctype="multipart/form-data">
                <div class="form-group">
                <label>Product name</label>
                <input type="text" ngModel="{{name}}" class="form-control" name="product_name">
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <input type="text" ngModel="{{description}}" name="description" class="form-control">
                </div>
                <div class="form-group">
                    <label>Price</label>
                    <input type="text" ngModel="{{price}}" name="price" class="form-control">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlFile1">Product Image</label>
                    <input type="file" class="form-control-file" name="product_image" (change)="onfileSelectect($event)">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlFile1">Quantity</label>
                    <input type="text" class="form-control-file"  ngModel="{{quantity}}" name="quantity">
                </div>
                <div class="form-group">
                    <label>Category</label>
                    <select class="form-control" name="category_id" #category="ngModel" (ngModelChange)="selectCate($event)" [(ngModel)]="cate_id">
                    <option *ngFor="let category of cate" value="{{category.category_id}}">{{category.category_name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Brand</label>
                    <select class="form-control" name="brand_id" #brandpd="ngModel" (ngModelChange)="selectbrand($event)" [(ngModel)]="brand_id">
                    <option *ngFor="let brand of brand1" value="{{brand.brand_id}}">{{brand.brand_name}}</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Edit Product</button>
            </form>
            </div>
            </div>
        </div>
        </div>
