<nav class="navbar navbar-expand-lg navbar-light" style="margin-bottom: 0;background-color: white;">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home"><img src="assets/img/your-logo.png" height="40"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHome" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarHome">
      <form class="form-inline my-2 mr-5 ml-auto" #Search1="ngForm" (ngSubmit)="Search(Search1.value)">
        <input class="form-control mr-sm-2" type="text" name="search" ngModel (ngModelChange)=searchproduct($event) style="height:40px;width:300px;">
        <button class="btn btn-outline-success my-2 my-sm-0 mr-5" type="submit" style="height:40px;width:90px;">Search</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
       
        <li class="nav-item active" *ngIf="!authService.loggedIn()">
          <a class="nav-link" routerLink="/register"><fa-icon [icon]="signin" class="mx-2"> Edit</fa-icon>Register</a>
        </li>
        <li class="nav-item active" *ngIf="!authService.loggedIn()">
          <a class="nav-link" routerLink="/login"><fa-icon [icon]="regis" class="mx-2"> Edit</fa-icon>Login</a>
        </li>
        <li class="nav-item active mr-3" *ngIf="authService.loggedIn()">
          <h3 class="nav-link" style="padding-top: 12px;"><strong>{{name}}</strong></h3>
        </li>
        <li class="nav-item active" >
          <a routerLink="/cart" mat-button class="nav-link"><fa-icon [icon]="cart" class="mx-2"> Cart</fa-icon>Cart</a>
        </li>
        <li class="nav-item dropdown" *ngIf="authService.loggedIn()">
          <a mat-button class="nav-link active dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            My Account
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" >
            <a mat-button class="dropdown-item" style="font-size:16px;" routerLink="/user">Profile</a>
            <a mat-button class="dropdown-item" *ngIf="role==1" style="font-size:16px;" routerLink="/admin/dashboard">Dashboard</a>
            <a mat-button class="dropdown-item" style="font-size:16px;" routerLink="/order-user">My Order</a>
          </div>
        </li>
        <li class="nav-item active" *ngIf="authService.loggedIn()">
          <a mat-button (click)="authService.logoutUser()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
  </nav>
  
  <header class="masthead" style="background-image:url('assets/img/corgi.jpg');" *ngIf="!authService.loggedIn()">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12 text-center">
          <h1 class="font-weight-light">SHOPPING ONLINE FOR PET</h1>
          <p class="lead">What your pet needs, when they need it.</p>
        </div>
      </div>
    </div>
  </header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark pl-5" style="margin-top: 0; font-size: 16px;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active mr-5">
          <a mat-button routerLink="/home" style="color: whitesmoke;">HOME</a>
        </li>
          <li class="nav-item dropdown mr-5">
            <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Category
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" style="font-size:16px;" [routerLink]="['/productbycate',category.category_id]" *ngFor="let category of category">{{category.category_name}}</a>
            </div>
          </li>
        <li class="nav-item dropdown mr-5">
          <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Brand
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" style="font-size: 16px;" [routerLink]="['/productbybrand',brand.brand_id]" *ngFor="let brand of brand">{{brand.brand_name}}</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contac Us</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        
      </ul>
    </div>
  </nav>
  <router-outlet *ngIf="!hasSearch"></router-outlet>
    <div class="container" *ngIf="hasSearch">    
      <div class="row">
        <div class="col-sm-4" *ngFor="let product of productsearch">
          <div class="card mb-5">
            <img src="{{product.product_image}}" class="card-img-top" alt="...">
            <div class="card-body" style="text-align: center;">
              <a [routerLink]="['/product-details',product.product_id]"><h3 class="card-title" style="height: 35px;">{{product.product_name}}</h3></a>
             <h3 class="card-title" style="color: #0059b3;"> <strong>{{product.price|number:'3.0-5'}}đ</strong></h3>
             <button type="button" class="btn btn-primary btn-lg"(click)=Addtocart(product.product_id) style="width: 100px;height: 30px;font-size: 14px;">Add to cart</button>
            </div>
            
          </div>
        </div>  
    </div>
    </div>
    <br><br>
    <div class="" *ngIf="role!=1">
      <section style="height:60px;"></section>
      <!----------- Footer ------------>
      <footer class="footer-bs" style="margin-bottom: 0;">
          <div class="row">
            <div class="col-md-3 footer-brand animated fadeInLeft">
                <h2>PetCity</h2>
                  <p>Suspendisse hendrerit tellus laoreet luctus pharetra. Aliquam porttitor vitae orci nec ultricies. Curabitur vehicula, libero eget faucibus faucibus, purus erat eleifend enim, porta pellentesque ex mi ut sem.</p>
              </div>
            <div class="col-md-4 footer-nav animated fadeInUp">
                <h4>Menu —</h4>
                <div class="col-md-6">
                      <ul class="pages">
                          <li><a href="#">Brand</a></li>
                          <li><a href="#">Category</a></li>
                          <li><a href="#">Product</a></li>
                      </ul>
                  </div>
                <div class="col-md-6">
                      <ul class="list">
                          <li><a href="#">About Us</a></li>
                          <li><a href="#">Contacts</a></li>
                          <li><a href="#">Terms & Condition</a></li>
                          <li><a href="#">Privacy Policy</a></li>
                      </ul>
                  </div>
              </div>
            <div class="col-md-2 footer-social animated fadeInDown">
                <h4>Contact</h4>
                <ul>
                    <li><a href="#">3/2 Street, Hung Loi, Ninh Kieu, Can Tho</a></li>
                    <li><a href="#">01675325717</a></li>
                    <li><a href="#">petcity@gmail.com</a></li>
                  </ul>
              </div>
          </div>
      </footer>
  
  </div>