<div class="container-fluid" style="padding:0">
<div class="col-sm-3" style="padding:0">
  <div class="nav-side-menu">
    <div class="brand">ADMIN</div>
        <div class="menu-list">
  
            <ul id="menu-content" class="menu-content collapse out">
                <li>
                  <a routerLink='/admin/dashboard'>
                  <i class="fa fa-dashboard fa-lg"></i> Dashboard
                  </a>
                </li>
                 <li>
                  <a routerLink="/admin/product">
                    <i class="fas fa-box-open"></i> Product
                  </a>
                  </li>
  
                 <li>
                  <a routerLink='/admin/category'>
                    <i class="fas fa-list"></i> Category
                  </a>
                </li>
                <li>
                  <a routerLink='/admin/brand'>
                    <i class="fas fa-store"></i> Brand
                  </a>
                </li>
                <li>
                  <a routerLink='/admin/manage-order'>
                    <i class="fas fa-receipt"></i> Order
                  </a>
                </li>
            </ul>
     </div>
  </div>
</div>
<router-outlet></router-outlet>
</div>
